{% extends "backlog/base.html" %}
 
{% block title %}Tehtävälista{% endblock %}
 
{% block content %}
    <h1>Tehtävälista</h1>
 
    <p>Tervetuloa, {{ user.username }}!</p>
 
    {% if request.user.is_superuser or request.user.is_staff %}
        <p><strong>Admin-tila:</strong> Näytetään kaikki tehtävät.</p>
    {% else %}
        <p><strong>Peruskäyttäjän tila:</strong> Näytetään vain omat tehtävät.</p>
    {% endif %}
    <h2>Kanban taulu</h2>

    <button id="toggle-incomplete" class="btn btn-primary mb-3" 
    onclick="SuoritaJokinToiminto();">Näytä vain keskeneräiset</button>

    <script>
        var KaikkiKortitEsillä = true;

        // Funktion esittely
        function SuoritaJokinToiminto(parametri)
        {
            // Haetaan jokin näkyvillä oleva HTML-elementti sen ID:n perusteella
            // Tässä tapauksessa siis aiemmin lisätty painike
            var painike = document.getElementById("toggle-incomplete");
     
            // Luetaan painikkeen väri muuttujaan
            var vari = painike.style.backgroundColor;
            
            // Näytetään painikkeen väri "pop-upissa"
            alert(vari);
     
            // Vaihdetaan väriksi punainen
            painike.style.backgroundColor = "#FF0000";
        }

        function PiilotaValmiitTaiNaytaKaikki()
        {
            var painike = document.getElementById("toggle-incomplete");
            if (KaikkiKortitEsill == true)
            {
                painike.innerHTML = "Näytä kaikki";
                KaikkiKortitEsill = false;
            }
            else
            {
                painike.innerHTML = "näytä vain keskeneräiset";
                KaikkiKortitEsill = true;
            }

            var tehtavakortit = document.getElementById("task-card");

            for(var i=0;i<tehtavakortit.legth;i++)
            {
                var onkoTehtavaValmis = tehtavakortit[i].innerHTML.includes("valmis");
                var onkoTehtavaValmisOikeasti=tehtavakortit[1].querySelector(".task-completed")
                console.log(onkoTehtavaValmis);
                if(KaikkiKortitEsill == false && onkoTehtavaValmisOikeasti === "true")
                {
                    tehtavakortit[i].style.display = "none";
                }
                else
                {
                    tehtavakortit[i].style.display = "block";
                }
            }
        }


    </script>



    <div class="task-container d-flex flex-wrap gap-3">
        {% for task_class, tasks in luokitellut_tehtavat.items %}
            <div class="task-column border p-3">
                <h3>{{ task_class.title }}</h3>
                {% for task in tasks %}
                    <div class="task-card p-2 border rounded">
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.description }}</p>
                        <input type="hidden" class="task-completed" value="{{ task.completed }}"/>
                        {% if task.completed %}
                            ✅ Valmis
                        {% else %}
                            ❌ Kesken
                        {% endif %}
                        <p><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}